<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=!, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title>Document</title>
</head>
<body>
    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
       <div class="sidebar-header">
        <h3 class="brand">
           
            <span>Mathematiques</span>
        </h3>
        
        <label for="sidebar-toggle" class="ti-menu-alt"></label>
       </div>
       <div class="sidebar-menu">
        <ul>
           <li>	
          		<a th:href="@{/ExoManager/home}">
                    <span class="ti-home"></span>
                    <span> Acceuil</span>
                </a>
            </li>
                      
            <li>
                <a th:href="@{/ExoManager/eleve}">
                    <span class="ti-clipboard"></span>
                    <span>eleve</span>
                </a></li>
            <li>
				<a th:href="@{/ExoManager/professeur}">
                    <span class="ti-user"></span>
                    <span>professeur</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="ti-control-pause"></span>
                    <span>moderateur</span>
                </a>
            </li>

        </ul>
       </div>
    </div>
       <div class="main-content">
        <header>
            <form class="search-wrapper">
                <button type="submit"><span class="ti-search"></span></button>
                <input type="search" placeholder="search">
            </form>
           
        </header>
        <main>
            <div class="activity-card">
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                               
                                <th>titre exo</th>
                                <th>fichier recu</th>
                                <th>date reception</th>
                                <th>soummetre exo</th>
                                <th>rejet exo </th>
                            </tr>
                        </thead>
                        <tbody>
                           <tr>
                               
                                
                                <td>fonction</td>
                                <td>fichier pdf</td>
                                <td>23/01/2023</td>
                                <td><center><button>envoyer</button></center></td>
                                <td><div class="but"><button onclick="document.getElementById('id01').style.display='block'">rejeter</button></div></td>

                           </tr>
                           <tr>
                                <td>fonction</td>
                                <td>fichier pdf</td>
                                <td>23/01/2023</td>
                                <td><center><button>envoyer</button></center></td>
                                <td><div class="but"><button onclick="document.getElementById('id01').style.display='block'">rejeter</button></div></td>

                            </tr>
                            <tr>
                                <td>fonction</td>
                                <td>fichier pdf</td>
                                <td>23/01/2023</td>
                                <td><center><button>envoyer</button></center></td>
                                <td><div class="but"><button onclick="document.getElementById('id01').style.display='block'">rejeter</button></div></td>

                           </tr>
                           <tr>
                                <td>fonction</td>
                                <td>fichier pdf</td>
                                <td>23/01/2023</td>
                                <td><center><button>envoyer</button></center></td>
                                <td><div class="but"><button onclick="document.getElementById('id01').style.display='block'">rejeter</button></div></td>

                            </tr>
                           <tr>
                                <td>fonction</td>
                                <td>fichier pdf</td>
                                <td>23/01/2023</td>
                                <td><center><button>envoyer</button></center></td>
                                <td><div class="but"><button onclick="document.getElementById('id01').style.display='block'">rejeter</button></div></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>

            <div id="id01" class="modal">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal"><span class="ti-close"></span></span>
                <form class="modal-content" action="">
                  <div class="container">
                    
                    <center><h3>Voulez vous vraiment rejeter cet exercice ? <br> Si oui entrez le motif</h3></center>
                    <input type="text" placeholder="entrez le motif du rejet" required>
                    
                    <div class="clearfix">
                      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">annuler</button>
                      <button type="submit" class="signup">enregistre</button>
                    </div>
                  </div>
                </form>
              </div>
        </main>
       </div>
   
    <script>
         // Get the modal
         var modal = document.getElementById('id01');
        
        // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
            }
    </script>
</body>
</html>